.App {
  text-align: center;
  color: white;
  background-color: #282c34;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
  width: 50px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 5vh;
  padding-bottom: 5vh;
  border-bottom: 2px solid #fff;
}

.App-header p {
  margin: 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-container {
  min-height: 70vh;
  padding-bottom: 400px;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
}

.articleImg {
  border: 2px solid #fff;
  margin-top: 20px;
  max-width: 50vw;
  width: 80%;
}

.weatherIcon {
  height: 50px;
  width: 50px;
}

button.btn-lg {
  border: 2px solid #fff;
}

button.btn-lg:hover {
  border: 3px solid #fff;
}

img.googleLogo {
  height: 30px;
  width: 30px;
}

/* Transition group */
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 5000ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
